.hover-container {
    position: relative;
    display: inline-block;
    padding: 10px;
    /* border: 1px solid #ccc; */
  }
  
  .overlay-box {
    position: absolute;
    bottom: 100%; /* Position above the div */
    left: 10%; /* transform: translateX(-50%); */
    /* background-color: #333;
    color: #fff; */
    background-color: rgb(224, 209, 209);
    color: black;
    padding: 8px;
    border-radius: 4px;
    /* white-space: nowrap; */
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    /* text-indent: 10px; */
  }
  
  .hover-container:hover .overlay-box {
    opacity: 1;
    pointer-events: auto;
  }
  