
h1 {
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
    font-size: 1.2rem;
    margin: 6px;
    font-weight: normal;
}

p {
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
    margin: 6px;
}

.legend-frame {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 120px;
    border: 1px solid black;
    gap: 3px;
    justify-self: flex-start;
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 10px;
    margin-left: 5px;
}

.color-box {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}


/* Mobile device */
@media (max-width: 768px) {
    .legend-frame {
        flex-direction: row;
        width: 100%;
        gap: 15px;
    }
    .label {
        gap: 2px;
    }
}

