
h1 {
    font-size: 1.2rem;
    margin: 6px;
}

p {
    margin: 6px;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    border: 1px solid black;
    gap: 3px;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.color-box {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}


