.code {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 15px;
    font-weight: normal;
    color: white;
    padding: 10px;
    background-color: black;
}

.spanY {
    color: yellow;
}

.spanG {
    color: rgb(31, 172, 31);
}

.spanO {
    color: rgb(196, 140, 36);
}

.spanB {
    color:rgb(104, 128, 198);
}

.spanP {
    color: magenta;
}

.spanLG {
    color:rgb(199, 235, 199);
}

.spanLB {
    color: rgb(83, 174, 239)
}

.indent {
    text-indent: 40px;
}

.block-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr); 
    width: 500px; /* Total width of the chart */
    height: 500px; /* Total height of the chart */
}

.block0 {
    background-color: white;
    /* border: 1px solid #333;   */
    display: flex;
    justify-content: center;
    transform: rotate(270);
    align-items: center;
    color: black;
    font-size: 1.2em;
}

.block1 {
    background-color: purple;
    border: 1px solid #333;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
}

.block2 {
    background-color: rgb(232, 156, 232);
    border: 1px solid #333;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
}
.block3 {
    background-color: rgb(239, 204, 239);
    border: 1px solid #333;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
}
.block4 {
    background-color: rgb(196, 127, 196);
    border: 1px solid #333;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
}

.container {
    display: flex;
    justify-content: space-between; /* Optional: space between items */
    align-items: center; /* Align items vertically center */
    width: 100%; /* Container takes full width */
    height: 500px; /* Set a height for the container */
    /* border: 1px solid #ccc; */
}

.box {
    flex: 1; /* Distribute equal space between the boxes */
    /* background-color: #4CAF50; */
    color: white;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin: 10px; /* Optional: space around the boxes */
    height: 100%; /* Make the boxes take up the full height of the container */
}

.top {
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
}