.code {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 15px;
    font-weight: normal;
    color: white;
    padding: 10px;
    background-color: black;
}

.spanY {
    color: yellow;
}

.spanG {
    color: rgb(31, 172, 31);
}

.spanO {
    color: rgb(196, 140, 36);
}

.spanB {
    color:rgb(104, 128, 198);
}

.spanP {
    color: magenta;
}

.spanLG {
    color:rgb(199, 235, 199);
}

.spanLB {
    color: rgb(83, 174, 239)
}

.indent {
    text-indent: 40px;
}

.block {
    background-color: white;
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
    display: flex;
    justify-content: center;
    transform: rotate(270deg);
    align-items: center;
    color: black;
    font-size: 1.2em
}

.treat {
    background-color: white;
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
    display: flex;
    justify-content: right;
    align-items: center;
    color: black;
    font-size: 1.2em;
}

.ments {
    background-color: white;
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
    display: flex;
    justify-content: left;
    align-items: center;
    color: black;
    font-size: 1.2em;
}

.treatment {
    background-color: white;
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
    display: flex;
    justify-content: left;
    align-items: center;
    text-indent: 5px;
    color: black;
    font-size: 1.2em;
}

.order {
    background-color: white;
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
    display: flex;
    justify-content: left;
    align-items: center;
    text-indent: 5px;
    color: black;
    font-size: 1.2em;
}

.block0 {
    background-color: white;
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2em;
}

.block1 {
    background-color: purple;
    border: 1px solid #333;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
}

.block2 {
    background-color: rgb(232, 156, 232);
    border: 1px solid #333;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
}
.block3 {
    background-color: rgb(239, 204, 239);
    border: 1px solid #333;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
}
.block4 {
    background-color: rgb(196, 127, 196);
    border: 1px solid #333;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
}

.container {
    display: flex;
    justify-content: space-evenly; /* Optional: space between items */
    align-items: flex-start; /* Align items vertically center */
    width: 100%; /* Container takes full width */
    height: 500px; /* Set a height for the container */
    /* border: 1px solid #ccc; */
}

.top {
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
}

.box {
    flex: 1; /* Distribute equal space between the boxes */
    /* background-color: #4CAF50; */
    color: black;
    display: flex;
    justify-content: left; /* Center content horizontally */
    align-items: flex-start; /* Center content vertically */
    margin: 10px; /* Optional: space around the boxes */
    height: 100%; /* Make the boxes take up the full height of the container */
}

.chartTitle {
    font-family: sans-serif, Menlo, Monaco, 'Courier New', monospace;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.7em;
}

.block-chart2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr); 
    width: 500px; 
    height: 500px; 
}

.custom-input {
    width: 10px;
}

.button {
    margin-left: 20px;
}

.finalPage {
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url('assets/confetti-full.svg'); /* Path to your SVG file */
    background-size: cover; /* Scale the background to cover the container */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-position: center; /* Center the background image */
  }

  .finalPageCenter {
    color: black;
    text-align: center;
    font-family: Menlo, Monaco, 'Courier New', monospace;
  }


  .legend-container {
    /* width: 13%; 
    ,arg*/
    /* margin-right: 50px; */
    /* margin-right: 20px; */
    margin-left: 20px;
  }